<div class="row">
    <div class="col text-center">
        {{record.console.name}}
    </div>
    <div class="col text-center">
        {{record.startDate | date:"h:mm a"}} - {{record.endDate | date:"h:mm a"}}<br>
        {{record.price | currency}}
    </div>
    <div class="col text-center">
        <div class="row">
            <div class="col">
                <button (click)="addTimeConfirm(record)" type="button" class="btn btn-warning mr-3 mb-2">Agregar
                    Tiempo</button>
                <button (click)="endConfirm(record,content)" type="button"
                    class="btn btn-danger mr-3 mb-2">Terminar</button>
            </div>
        </div>
    </div>
</div>