<div class="row">
    <div class="col text-center">
        {{record.selectedConsole.id + ' ' + record.selectedConsole.name}}
    </div>
    <div class="col text-center">
        {{record.startDate | date:"h:mm a" }} - {{record.endDate | date:"h:mm a" }}<br>
        {{record.selectedHour.name}} {{record.price | currency}}
    </div>
    <div class="col text-center">
        <!-- <button (click)="createRecord()" type="button" class="btn btn-success">Terminar</button> -->
        <div class="row">
            <div class="col">
                <button (click)="end(record.id)" type="button" class="btn btn-success mr-3 mb-2">Terminar</button>
                <button (click)="vote(true)" type="button" class="btn btn-success mr-3 mb-2">Vote True</button>
                <button (click)="vote(false)" type="button" class="btn btn-success mr-3 mb-2">Vote False</button>
            </div>
        </div>
    </div>
</div>