<div class="row">
    <div class="col text-center">
        <select [(ngModel)]="selectedConsole" class="custom-select">
            <option *ngFor="let console of consoles" [value]="console">{{console.id+" "+console.name}}</option>
        </select>
    </div>
    <div class="col text-center">
        <select [(ngModel)]="selectedHour" class="custom-select">
            <option *ngFor="let hour of hours" [value]="hour">{{hour.name}}</option>
        </select>
    </div>
    <div class="col text-center">
        <button (click)="createRegister()" type="button" class="btn btn-success">Registrar</button>
    </div>
</div>

<div class="row" *ngIf="registers.lenght > 0">
    <app-hour-register></app-hour-register>
</div>