<div class="row">
    <div class="col text-center">
        <select [(ngModel)]="selectedConsole" class="custom-select">
            <option *ngFor="let console of avaliableConsoles" [ngValue]="console">{{console.id+" "+console.name}}</option>
        </select>
        <div *ngIf="errorConsole">Selecciona una consola</div>
    </div>
    <div class="col text-center">
        <select [(ngModel)]="selectedHour" class="custom-select">
            <option *ngFor="let hour of avaliableHours" [ngValue]="hour">{{hour.name}}</option>
        </select>
        <div *ngIf="errorHour">Selecciona una hora</div>
    </div>
    <div class="col text-center">
        <button (click)="makeARecord()" type="button" class="btn btn-success">Registrar</button>
    </div>
</div>

<div class="mt-5">
    <app-record *ngFor="let record of records" [record]="record" (voted)="onVoted($event)" (endRecord)="endRecord($event)"></app-record>
</div>

<h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>