<div class="row mt-5">
  <div class="col text-center">
    <h3 class="p-1">Dulces</h3>
  </div>
  <div class="col text-right">
    <div class="row">
      <div class="col-8">
        <select
          [(ngModel)]="selectedCandie"
          class="custom-select"
          (change)="onChangeSelection($event)"
        >
          <option *ngFor="let candie of allCandies" [ngValue]="candie">{{
            candie.name
          }}</option>
        </select>
      </div>
      <div class="col">
        <button (click)="clear()" type="button" class="btn btn-success">
          Limpiar Selección
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row text-center" *ngIf="!selectedCandie">
  <div class="col">
    <label><strong>Nombre</strong></label>
    <input
      [(ngModel)]="name"
      type="text"
      class="form-control"
      (ngModelChange)="onChangeName($event)"
    />
    <div *ngIf="errorName" class="text-danger">Nombre Incorrecto</div>
  </div>
  <div class="col">
    <label><strong>Precio</strong></label>
    <input
      [(ngModel)]="price"
      type="number"
      class="form-control"
      (ngModelChange)="onChangePrice($event)"
    />
    <div *ngIf="errorPrice" class="text-danger">Precio Incorrecto</div>
  </div>
  <div class="col">
    <label><strong>Stock</strong></label>
    <input
      [(ngModel)]="stock"
      type="number"
      class="form-control"
      (ngModelChange)="onChangeStock($event)"
    />
    <div *ngIf="errorStock" class="text-danger">Stock Incorrecto</div>
  </div>
  <div class="col">
    <label><strong>Precio Unitario</strong></label>
    <input
      [(ngModel)]="unitary"
      type="number"
      class="form-control"
      (ngModelChange)="onChangeUnitary($event)"
    />
    <div *ngIf="errorUnitary" class="text-danger">
      Precio Unitario Incorrecto
    </div>
  </div>
  <div class="col">
    <label><strong>Acciones</strong></label
    ><br />
    <button (click)="create()" type="button" class="btn btn-success">
      Crear Nuevo
    </button>
  </div>
</div>

<div class="row text-center" *ngIf="selectedCandie">
  <div class="col-6">
    <label><strong>Nombre</strong></label>
    <input
      [(ngModel)]="name"
      type="text"
      class="form-control"
      (ngModelChange)="onChangeName($event)"
    />
    <div *ngIf="errorName" class="text-danger">Nombre Incorrecto</div>
  </div>
  <div class="col-6">
    <label><strong>Precio</strong></label>
    <input
      [(ngModel)]="price"
      type="number"
      class="form-control"
      (ngModelChange)="onChangePrice($event)"
    />
    <div *ngIf="errorPrice" class="text-danger">Precio Incorrecto</div>
  </div>
  <div class="col-12 mt-3">
    <h3>Historial de stock</h3>
  </div>
  <div class="col-12">
    <div *ngFor="let h of selectedCandie.history; let i = index">
      <div class="row">
        <div class="col-5">
          <label><strong>Stock</strong></label>
          <input
            [(ngModel)]="selectedCandie.history[i].stock"
            type="number"
            class="form-control"
            (ngModelChange)="onChangeStock($event)"
          />
          <div *ngIf="selectedCandie.history[i].stock < 0" class="text-danger">
            Stock Incorrecto
          </div>
        </div>
        <div class="col-5">
          <label><strong>Precio Unitario</strong></label>
          <input
            [(ngModel)]="selectedCandie.history[i].unitary"
            type="number"
            class="form-control"
            (ngModelChange)="onChangeUnitary($event)"
          />
          <div
            *ngIf="selectedCandie.history[i].unitary <= 0"
            class="text-danger"
          >
            Precio Unitario Incorrecto
          </div>
        </div>
        <div class="col-2 d-flex align-items-end justify-content-center">
          <button
            (click)="addHistory()"
            type="button"
            class="btn btn-success mr-3"
          >
            +
          </button>
          <button
            *ngIf="selectedCandie.history.length > 1"
            (click)="removeHistory(i)"
            type="button"
            class="btn btn-danger"
          >
            -
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <label><strong>Acciones</strong></label
    ><br />
    <button (click)="update()" type="button" class="btn btn-success mr-3">
      Actualizar
    </button>
    <button (click)="delete()" type="button" class="btn btn-danger">
      Eliminar
    </button>
  </div>
</div>
