<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    (click)="toggleNavbar()"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="navbar-collapse"
    id="navbarNavDropdown"
    ng-if="showNavbar"
    [ngClass]="{ collapse: !showNavbar }"
  >
    <div class="container">
      <div class="row col-12">
        <div class="col-xs-12 col-md-4">
          <ul class="navbar-nav">
            <li [routerLinkActive]="['active']" class="nav-item">
              <a class="nav-link" routerLink="clientes"
                ><strong>Clientes</strong></a
              >
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
              <a class="nav-link" routerLink="resumen"
                ><strong>Resumen</strong></a
              >
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-8 d-md-flex justify-content-end">
          <ngb-alert
            *ngIf="showEmergencySended"
            class="mr-3"
            [dismissible]="false"
            type="info"
          >
            <span>Manten la calma, se ha enviado el mensaje de emergencía</span>
          </ngb-alert>
          <button
            (click)="emergency()"
            type="button"
            class="mt-4 mt-md-0 btn btn-danger btn-sm"
          >
            Emergencía
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
