<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="navbar-nav">
                        <li [routerLinkActive]="['active']" class="nav-item">
                            <a class="nav-link" routerLink="consolas"><strong>Consolas</strong></a>
                        </li>
                        <li [routerLinkActive]="['active']" class="nav-item">
                            <a class="nav-link" routerLink="dulces"><strong>Dulces</strong></a>
                        </li>
                        <li [routerLinkActive]="['active']" class="nav-item">
                            <a class="nav-link" routerLink="trabajos"><strong>Trabajos e impresiones</strong></a>
                        </li>
                        <li [routerLinkActive]="['active']" class="nav-item">
                            <a class="nav-link" routerLink="papeleria"><strong>Papelería</strong></a>
                        </li>
                        <!-- <li [routerLinkActive]="['active']" class="nav-item">
                            <a class="nav-link" routerLink="precios"><strong>Prices Change</strong></a>
                        </li> -->
                        <li [routerLinkActive]="['active']" class="nav-item">
                            <a class="nav-link" routerLink="resumen"><strong>Resumen</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>