<div class="row mt-5">
  <div class="col">
    <div class="row text-center">
      <div class="col">
        <h3 class="p-1">Computadoras</h3>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-8">
            <select
              [(ngModel)]="selectedComputer"
              class="custom-select"
              (change)="onChangeSelection($event)"
            >
              <option *ngFor="let computer of allComputers" [ngValue]="computer"
                >{{ computer.name }}
              </option>
            </select>
          </div>
          <div class="col">
            <button (click)="clear()" type="button" class="btn btn-success">
              Limpiar Selección
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center" *ngIf="!selectedComputer">
      <div class="col">
        <label><strong>Nombre</strong></label>
        <input
          [(ngModel)]="name"
          type="text"
          class="form-control"
          (ngModelChange)="onChangeName($event)"
        />
        <div *ngIf="errorName" class="text-danger">Nombre Incorrecto</div>
      </div>
      <div class="col">
        <label><strong>Precio Hora</strong></label>
        <input
          [(ngModel)]="hourPrice"
          type="number"
          class="form-control"
          (ngModelChange)="onChangeHourPrice($event)"
        />
        <div *ngIf="errorHourPrice" class="text-danger">Precio Incorrecto</div>
      </div>
      <div class="col">
        <label><strong>Precio Media Hora</strong></label>
        <input
          [(ngModel)]="halfHourPrice"
          type="number"
          class="form-control"
          (ngModelChange)="onChangeHalfHourPrice($event)"
        />
        <div *ngIf="errorHalfHourPrice" class="text-danger">
          Precio Incorrecto
        </div>
      </div>
      <div class="col">
        <label><strong>Precio Diez Minutos</strong></label>
        <input
          [(ngModel)]="tenMinutesPrice"
          type="number"
          class="form-control"
          (ngModelChange)="onChangeTenMinutesPrice($event)"
        />
        <div *ngIf="errorTenMinutesPrice" class="text-danger">
          Precio Incorrecto
        </div>
      </div>
      <div class="col">
        <label><strong>Acciones</strong></label
        ><br />
        <button (click)="create()" type="button" class="btn btn-success">
          Crear Nuevo
        </button>
      </div>
    </div>

    <div class="row text-center" *ngIf="selectedComputer">
      <div class="col">
        <label><strong>Nombre</strong></label>
        <input
          [(ngModel)]="name"
          type="text"
          class="form-control"
          (ngModelChange)="onChangeName($event)"
        />
        <div *ngIf="errorName" class="text-danger">Nombre Incorrecto</div>
      </div>
      <div class="col">
        <label><strong>Precio Hora</strong></label>
        <input
          [(ngModel)]="hourPrice"
          type="number"
          class="form-control"
          (ngModelChange)="onChangeHourPrice($event)"
        />
        <div *ngIf="errorHourPrice" class="text-danger">Precio Incorrecto</div>
      </div>
      <div class="col">
        <label><strong>Precio Media Hora</strong></label>
        <input
          [(ngModel)]="halfHourPrice"
          type="number"
          class="form-control"
          (ngModelChange)="onChangeHalfHourPrice($event)"
        />
        <div *ngIf="errorHalfHourPrice" class="text-danger">
          Precio Incorrecto
        </div>
      </div>
      <div class="col">
        <label><strong>Precio Diez Minutos</strong></label>
        <input
          [(ngModel)]="tenMinutesPrice"
          type="number"
          class="form-control"
          (ngModelChange)="onChangeTenMinutesPrice($event)"
        />
        <div *ngIf="errorTenMinutesPrice" class="text-danger">
          Precio Incorrecto
        </div>
      </div>
      <div class="col-3">
        <label><strong>Acciones</strong></label
        ><br />
        <button (click)="update()" type="button" class="btn btn-success mr-3">
          Actualizar
        </button>
        <button (click)="delete()" type="button" class="btn btn-danger">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
