<div *ngIf="client.computersRecords.length > 0">
  <div class="row text-center">
    <div class="col">
      <label><strong>Computadora</strong></label>
    </div>
    <div class="col">
      <label><strong>Horas / Minutos</strong></label>
    </div>
    <div class="col">
      <label><strong>Tiempo Incio - Fin</strong></label>
    </div>
    <div class="col">
      <label><strong>Precio</strong></label>
    </div>
    <div class="col-3">
      <label><strong>Acciones</strong></label>
    </div>
    <div class="col">
      <label><strong>¿Pagado?</strong></label>
    </div>
  </div>

  <div class="row m-3" *ngIf="isWarningLessTime">
    <div class="col text-danger text-center">
      <strong>No se puede reducir un registro de 15 minutos</strong>
    </div>
  </div>

  <div
    class="row mb-1 text-center"
    [ngClass]="{
      'gray-background': computerRecord.finished,
      'red-color': computerRecord.notification && !computerRecord.finished
    }"
    *ngFor="let computerRecord of client.computersRecords; let i = index"
  >
    <div
      class="col"
      *ngIf="computerRecord.notification && !computerRecord.finished"
      placement="top"
      [ngbTooltip]="computerRecord.notification.body"
    >
      <div class="row">
        <div class="col-3">
          <i class="material-icons">warning</i>
        </div>
        <div class="col-9">
          <span>{{ computerRecord.computer.name }}</span>
        </div>
      </div>
    </div>
    <div
      class="col"
      *ngIf="!computerRecord.notification || computerRecord.finished"
    >
      <span>{{ computerRecord.computer.name }}</span>
    </div>
    <div class="col">
      <span *ngIf="computerRecord.hours > 0">
        {{ computerRecord.hours }} horas /
      </span>
      <span *ngIf="computerRecord.minutes > 0">
        {{ computerRecord.minutes }} minutos
      </span>
      <span *ngIf="computerRecord.minutes == 0">
        0 minutos
      </span>
    </div>
    <div class="col">
      {{ computerRecord.startDate | date: 'h:mm a' }} -
      <span *ngIf="computerRecord.endDate">{{
        computerRecord.endDate | date: 'h:mm a'
      }}</span>
    </div>
    <div class="col">
      <span *ngIf="computerRecord.price">
        {{ computerRecord.price | currency }}
      </span>
    </div>

    <div class="col-3" *ngIf="!computerRecord.finished">
      <button
        *ngIf="computerRecord.endDate && !computerRecord.combo"
        (click)="addTime(i)"
        type="button"
        class="btn btn-sm btn-info mr-3 mb-2"
      >
        Más Tiempo
      </button>
      <button
        *ngIf="computerRecord.endDate && !computerRecord.combo"
        (click)="lessTime(i)"
        type="button"
        class="btn btn-sm btn-warning mr-3 mb-2"
      >
        Menos Tiempo
      </button>
      <button (click)="end(i)" type="button" class="btn btn-sm btn-danger">
        Terminar
      </button>
    </div>

    <div class="col-3 text-center" *ngIf="computerRecord.finished">
      <strong>Tiempo Terminado</strong>
    </div>

    <div class="col">
      <input
        type="checkbox"
        class="form-check-input"
        [ngModel]="computerRecord.paid"
        (change)="changeCheckValue(i)"
      />
    </div>
  </div>
</div>
