<div class="row text-center">
    <div class="col"><label><strong>Trabajo</strong></label></div>
    <div class="col"><label><strong>Cantidad</strong></label></div>
    <div class="col"><label><strong>Hora de compra</strong></label></div>
    <div class="col"><label><strong>Precio</strong></label></div>
    <div class="col-4"><label><strong></strong></label></div>
</div>

<div class="row mb-1 text-center" *ngFor="let workRecord of client.worksRecords; let i = index">
    <div class="col">
        <span>{{workRecord.name}}</span>
    </div>
    <div class="col">
        <span>{{workRecord.quantity}}</span>
    </div>
    <div class="col">
        {{workRecord.date | date:"h:mm a"}}<br>
    </div>
    <div class="col">
        {{workRecord.price | currency}}
    </div>
    <div class="col-4"></div>
</div>