<div class="row">
    <div class="col text-center"><label><strong>Número de Consola</strong></label></div>
    <div class="col text-center"><label><strong>Número de Horas</strong></label></div>
    <div class="col text-center"><label><strong>Tiempo Inicio - Fin</strong></label></div>
    <div class="col text-center"><label><strong>Precio</strong></label></div>
    <div class="col-4 text-center"><label><strong>Acciones</strong></label></div>
</div>

<div class="row mb-1" [ngClass]="{'gray-background': consoleRecord.finished, 'red-color': consoleRecord.notification && !consoleRecord.finished}"
    *ngFor="let consoleRecord of client.consolesRecords; let i = index">
    <div class="col text-center" *ngIf="consoleRecord.notification && !consoleRecord.finished" placement="top" [ngbTooltip]="consoleRecord.notification.body">
        <div class="row">
            <div class="col-3">
                <i class="material-icons">warning</i>
            </div>
            <div class="col-9">
                <span>{{consoleRecord.console.name}}</span>
            </div>
        </div>
    </div>
    <div class="col text-center" *ngIf="!consoleRecord.notification || consoleRecord.finished">
        <span>{{consoleRecord.console.name}}</span>
    </div>
    <div class="col text-center">
        <span>{{consoleRecord.hours}}</span>
    </div>
    <div class="col text-center">
        {{consoleRecord.startDate | date:"h:mm a"}} - {{consoleRecord.endDate | date:"h:mm a"}}<br>
    </div>
    <div class="col text-center">
        {{consoleRecord.price | currency}}
    </div>
    <div class="col-4 text-center" *ngIf="!consoleRecord.finished">
        <button (click)="addTime(i)" type="button" class="btn btn-sm btn-warning mr-3 mb-2">Agregar
            Tiempo</button>
        <button (click)="end(i)" type="button" class="btn btn-sm btn-danger mr-3 mb-2">Terminar</button>
    </div>
    <div class="col-4 text-center" *ngIf="consoleRecord.finished">
        <strong>Tiempo Terminado</strong>
    </div>
</div>

<!-- <div class="row">
    <div class="col text-center"></div>
    <div class="col text-center"></div>
    <div class="col text-center cyan"><label><strong>Subtotal</strong></label></div>
    <div class="col text-center cyan">{{subTotalConsoles | currency}}</div>
    <div class="col-4 text-center"><label><strong></strong></label></div>
</div> -->