<div class="row">
    <div class="col text-center"><label><strong>Número de Consola</strong></label></div>
    <div class="col text-center"><label><strong>Número de Horas</strong></label></div>
    <div class="col text-center"><label><strong>Tiempo Inicio - Fin</strong></label></div>
    <div class="col text-center"><label><strong>Precio</strong></label></div>
    <div class="col-4 text-center"><label><strong>Acciones</strong></label></div>
</div>

<div class="row" [ngClass]="{'gray': consoleRecord.finished}" *ngFor="let consoleRecord of client.consolesRecords; let i = index">
    <div class="col text-center">
        <span>{{consoleRecord.console.name}}</span>
    </div>
    <div class="col text-center">
        <span>{{consoleRecord.hours}}</span>
    </div>
    <div class="col text-center">
        {{consoleRecord.startDate | date:"h:mm a"}} - {{consoleRecord.endDate | date:"h:mm a"}}<br>
    </div>
    <div class="col text-center">
        {{consoleRecord.price | currency}}
    </div>
    <div class="col-4 text-center" *ngIf="!consoleRecord.finished">
        <button (click)="addTime(i)" type="button" class="btn btn-warning mr-3 mb-2">Agregar
            Tiempo</button>
        <button (click)="end(i)" type="button" class="btn btn-danger mr-3 mb-2">Terminar</button>
    </div>
    <div class="col-4 text-center" *ngIf="consoleRecord.finished">
        <strong class="red">Tiempo Terminado</strong>
    </div>
</div>

<!-- <div class="row">
    <div class="col text-center"></div>
    <div class="col text-center"></div>
    <div class="col text-center cyan"><label><strong>Subtotal</strong></label></div>
    <div class="col text-center cyan">{{subTotalConsoles | currency}}</div>
    <div class="col-4 text-center"><label><strong></strong></label></div>
</div> -->