<ng-template #consoleModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      {{ title }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <strong>
      <span [ngClass]="{ 'text-info': !isEndTime, 'text-danger': isEndTime }">
        {{ body }}
      </span>
    </strong>
    <div *ngIf="isConsoleChange">
      <select [(ngModel)]="selectedConsole" class="custom-select">
        <option *ngFor="let console of avaliableConsoles" [ngValue]="console">{{
          console.name
        }}</option>
      </select>
      <div *ngIf="errorConsole" class="text-danger font-weight-bold">
        Selecciona una consola
      </div>
    </div>
    <div *ngIf="isAddTime">
      <select [(ngModel)]="selectedHour" class="custom-select">
        <option *ngFor="let hour of avaliableHours" [ngValue]="hour">{{
          hour.name
        }}</option>
      </select>
      <div *ngIf="errorHour" class="text-danger font-weight-bold">
        Selecciona una hora
      </div>
    </div>
    <div *ngIf="isLessTime">
      <select [(ngModel)]="selectedHour" class="custom-select">
        <option *ngFor="let hour of avaliableHours" [ngValue]="hour">{{
          hour.name
        }}</option>
      </select>
      <div *ngIf="errorHour" class="text-danger font-weight-bold">
        Selecciona una hora
      </div>
      <div *ngIf="errorLessHour" class="text-danger font-weight-bold">
        No se puede reducir esa cantidad. Intenta reducir menos tiempo.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="consoleEndTime()"
      *ngIf="isEndTime"
    >
      Aceptar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="consoleChange()"
      *ngIf="isConsoleChange"
    >
      Aceptar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="consoleAddTime()"
      *ngIf="isAddTime"
    >
      Aceptar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="consoleLessTime()"
      *ngIf="isLessTime"
    >
      Aceptar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>

<ng-template #computerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      {{ title }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <strong>
      <span [ngClass]="{ 'text-info': !isEndTime, 'text-danger': isEndTime }">
        {{ body }}
      </span>
    </strong>
    <div *ngIf="isAddTime">
      <select [(ngModel)]="selectedHourComputer" class="custom-select">
        <option *ngFor="let hour of avaliableHoursComputer" [ngValue]="hour">{{
          hour.name
        }}</option>
      </select>
      <div *ngIf="errorHour" class="text-danger font-weight-bold">
        Selecciona una hora
      </div>
    </div>
    <div *ngIf="isLessTime">
      <select [(ngModel)]="selectedHourComputer" class="custom-select">
        <option *ngFor="let hour of avaliableHoursComputer" [ngValue]="hour">{{
          hour.name
        }}</option>
      </select>
      <div *ngIf="errorHour" class="text-danger font-weight-bold">
        Selecciona una hora
      </div>
      <div *ngIf="errorLessHour" class="text-danger font-weight-bold">
        No se puede reducir esa cantidad. Intenta reducir menos tiempo.
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="computerEndTime()"
      *ngIf="isEndTime"
    >
      Aceptar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="computerAddTime()"
      *ngIf="isAddTime"
    >
      Aceptar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="computerLessTime()"
      *ngIf="isLessTime"
    >
      Aceptar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>

<ng-template #endClientModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">¿Terminar con el Cliente {{ client.counter }}?</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <strong>
      <span class="text-danger">
        Terminaras con el registro del Cliente {{ client.counter }}.
        <div *ngIf="debt > 0">Cobrarle ${{ debt }} pesos.</div>
      </span>
    </strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="endClient()">
      Aceptar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>
