<div class="row">
    <div class="col text-center">
        <label><strong>Dulce</strong></label>
        <select [(ngModel)]="selectedCandie" class="custom-select" (change)="onChangeSelection($event)">
            <option *ngFor="let candie of allCandies" [ngValue]="candie">{{candie.name}}</option>
        </select>
        <div *ngIf="errorCandie" class="text-danger">Selecciona un dulce</div>
    </div>
    <div class="col text-center">
        <label><strong>Precio</strong></label>
        <select *ngIf="!selectedCandie" class="custom-select"></select>
        <select *ngIf="selectedCandie" [(ngModel)]="selectedPrice" class="custom-select">
            <option [ngValue]="selectedCandie.price" selected>{{selectedCandie.price}}</option>
            <option [ngValue]="selectedCandie.price2" *ngIf="selectedCandie.price2">{{selectedCandie.price2}}</option>
        </select>
    </div>
    <div class="col text-center">
        <label><strong>Cantidad</strong></label>
        <input [(ngModel)]="selectedQuantity" type="number" class="form-control"
            (ngModelChange)="onChangeQuantity($event)" />
        <div *ngIf="errorQuantity" class="text-danger">Cantidad Incorrecta</div>
    </div>
    <div class="col text-center">
        <label><strong>Acciones</strong></label><br>
        <button (click)="candiePurchaseConfirm()" type="button" class="btn btn-success">Registrar Compra</button>
    </div>
</div>

<div class="row mt-5" *ngIf="successPurchase">
    <div class="col text-center alert alert-success">
        Dulce registrado ve a Resumen para ver tu registro
    </div>
</div>