<div class="container mt-3">

    <div class="row" *ngIf="client.consolesRecords">
        <div class="col">
            <app-consoles-show [client]="client"></app-consoles-show>
        </div>
    </div>

    <div class="row" *ngIf="client.candiesPurchases">
        <div class="col">
            <app-candie-show [client]="client"></app-candie-show>
        </div>
    </div>

    <div class="row" *ngIf="client.computersRecords">
        <div class="col">
            <app-computer-show [client]="client"></app-computer-show>
        </div>
    </div>

</div>