<div class="container mt-3">

    <div class="row">
        <div class="col-5">
            <div class="d-flex align-items-center">
                <h5 class="m-0">
                    Cliente {{client.counter+' '+client.alias}} (Debe {{debt | currency}})
                </h5>
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-sm btn-danger" (click)="endClient()">
                Terminar Cliente
            </button>
        </div>
        <div class="col text-danger" *ngIf="errorComputers">
            <strong>Termina todos los registros de las computadoras de este Cliente</strong>
        </div>
    </div>

    <div class="row" *ngIf="client.consolesRecords">
        <div class="col">
            <app-consoles-show [client]="client"></app-consoles-show>
        </div>
    </div>

    <div class="row" *ngIf="client.candiesPurchases">
        <div class="col">
            <app-candie-show [client]="client"></app-candie-show>
        </div>
    </div>

    <div class="row" *ngIf="client.computersRecords">
        <div class="col">
            <app-computer-show [client]="client"></app-computer-show>
        </div>
    </div>

    <div class="row" *ngIf="client.worksRecords">
        <div class="col">
            <app-work-show [client]="client"></app-work-show>
        </div>
    </div>

    <div class="row" *ngIf="client.articlesPurchases">
        <div class="col">
            <app-article-show [client]="client"></app-article-show>
        </div>
    </div>
</div>