<div class="row mt-3">
    <div class="col">

        <div class="row ">
            <div class="col">
                <h3 class="p-1">Consolas</h3>
            </div>
        </div>

        <div class="col text-center">
            <label><strong>Número de Consola</strong></label><br>
            <span>{{record.console.name}}</span>
        </div>
        <div class="col text-center">
            <label><strong>Número de Horas</strong></label><br>
            <span>{{record.hours}}</span>
        </div>
    </div>
</div>