<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            {{title}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <strong>
            <span [ngClass]="{'text-info' : !isEndTime, 'text-danger' :  isEndTime}">
                {{body}}
            </span>
        </strong>
        <div *ngIf="!isEndTime">
            <select [(ngModel)]="selectedHour" class="custom-select">
                <option *ngFor="let hour of avaliableHours" [ngValue]="hour">{{hour.name}}</option>
            </select>
            <div *ngIf="errorHour" class="text-danger font-weight-bold">Selecciona una hora</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="endTime()" *ngIf="isEndTime">Aceptar</button>
        <button type="button" class="btn btn-success" (click)="addTime()" *ngIf="!isEndTime">Aceptar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
    </div>
</ng-template>

